/* css for small screen */
@media only screen and (max-width:600px) {
    .header {
        background-image: url('../image/dola.png');

    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
        color: #fff;

    }

    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -150px;
        width: 150px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;

    }

    nav ul li {
        display: block;
        margin: 10px 10px;

    }

    nav .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .main {
        margin-top: 100%;
        font-size: 30px;


    }

    h1 {
        font-size: 30px;
    }

    h1 span {
        font-size: 30px;
    }


    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    p {
        font-size: 20px;
    }

    .link {
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }

    #menu {
        padding-left: 80%;
    }
}

.copyright p {
    font-size: 16px;
}